name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        spark: ["3.1.3","3.2.4", "3.3.4", "3.4.3", "3.5.1"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: coursier/cache-action@v6
        with:
          extraKey: ${{ matrix.spark  }}
      - uses: coursier/setup-action@v1
        with:
          jvm: zulu:8
      - name: Test
        run: sbt -Dspark.version=${{ matrix.spark  }} +test
      - name: Benchmark
        run: sbt -Dspark.version=${{ matrix.spark  }} +benchmarks/Jmh/run
