name: CI
on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        spark: ["3.2.1", "3.3.2", "3.4.2"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: olafurpg/setup-scala@v11
        with:
          java-version: adopt@1.11
      - name: Test
        run: sbt -Dspark.testVersion=${{ matrix.spark  }} +test
