name: Docs
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: olafurpg/setup-scala@v10
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1
        with:
          sbt-version: 1.11.0
      - name: Build docs
        run: sbt "project docs" laikaSite
      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/target/docs/site
